
@{
    ViewBag.Title = "ClientPortal";
}

<h2>Your Portal</h2>

<h3>Welcome, @ViewBag.FirstName!</h3>
<p>This is your dashboard</p>

<p>Data/Summary Report:</p>
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMGQyM2ZkZjUtNGQ2MS00YjEwLTg1ZWQtMWVkMGZjY2IzODU1IiwidCI6ImM2ZmM2ZTliLTUxZmItNDhhOC1iNzc5LTllZTU2NGI0MDQxMyIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>

