@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<br />

<address>
    <h2>Integrated Solutions, Inc.</h2>
    <h3>
        212 N 600 E<br />
        Springville, UT 84606<br />
        <abbr title="Phone">P:</abbr>
        385.554.6743
    </h3>
</address>
<br />

<address>
    <p><strong>Support:</strong>   </p>
    <a href="mailto:Support@example.com">gihongchoi@integratedsolutions.com</a><br />
    <a href="mailto:Marketing@example.com">alexspruill@integratedsolutions.com</a>
</address>