@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    212 N 600 E<br />
    Springville, UT 84606<br />
    <abbr title="Phone">P:</abbr>
    385.554.6743
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">gihongchoi@integratedsolutions.com</a><br />
    <a href="mailto:Marketing@example.com">alexspruill@integratedsolutions.com</a>
</address>