<div class="jumbotron">
    <h1>Northwest Labs</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <h3>Market Leader in Pharmaceutical Research and Assay Analysis</h3>
    <p class="lead">
        We provide chemical and compound tests for companies needing in-depth assay analysis. Our assay analysis includes sets of physical,
        chemical, atomic, and biological tests that are conducted on a chemical compound or drug to determine its characteristics. They may include purely laboratory type
        tests and/or biological tests on live animals.

    </p>
    <p>
        Northwest Labs is a global business with pharmaceutical labs in Singapore and corporate offices located in Seattle.

    </p>
    <div class="row">
        <div class="col-sm-6 text-center">
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>

        </div>
        <div class="col-sm-6 text-center">
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Pricing &raquo;</a></p>

        </div>

    </div>
</div>
 -
<div class="row">
    <div class="col-md-4">
        <h3>Market Leader</h3>
        <p>
            Northwest Labs retain a reputation of providing
            the best service in this industry. With our recently
            updated system, we provide immediate results to the customer
            available online as soon these tests are completed and
            paid for. We have constant communication available to
            our clients, keeping them in the know.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        <h3>Secure Service</h3>
        <p>
            We know that the research and assays conducted at
            Northwest are often confidential information that you
            need to keep safe. Our customer can rest easy knowing
            that the cloud service we receive through Microsoft's
            Azure is extremely secure, and we have various back ups
            secured in order to keep your data safe.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        <h3>Accurate Results</h3>
        <p>
            With our 'tamper proof' guarantee, clients can rest
            easy knowing that the information we provide is accurate,
            and some of the most efficiently provided in all of
            pharmaceutical analysis. In the case of compounds that have
            been 'tampered with,' we cover any costs necessary upon
            resubmission of the compound.
        </p>
    </div>
</div> 