
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/StyleSheet1.css">
</head>
<body>
    <br />

    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                    <table>
                        <tr>
                            <td>
                                <label for="inputEmail">User Name</label>
                            </td>
                            <td>@Html.TextBox("User Name", null, new { style = "margin-bottom: 5px; margin-left: 20px; " })</td>
                        </tr>
                        <br />
                        <br />
                        <tr>
                            <td><label for="inputPassword">Password</label></td>
                            <td>@Html.Password("Password", null, new { style = "margin-bottom: 5px; margin-left: 20px; " })</td>
                        </tr>
                    </table><br />
                    <button type="submit" class="btn btn-primary">Login</button>
                }
            </div>
        </div>
        <div class="col-lg-4"></div>

    </div>
</body>
</html>