
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/StyleSheet1.css">
</head>
<body>
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-lg-4">
           
        </div>
        <div class="col-lg-4">
            <h2>Log in</h2>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                <label for="inputEmail">User Name</label>
                @Html.TextBox("User Name")<br /><br />
                <label for="inputPassword">Password</label>
                @Html.Password("Password")<br /><br />
                <button type="submit" class="btn btn-primary">Login</button>
            }
        </div>
        <div class="col-lg-4"></div>

    </div>
</body>
</html>