
@{
    ViewBag.Title = "ManagementPortal";
}

<h2>Management Portal</h2>

<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNmMwMDkyYmMtYzVhZi00ZWFjLWFmMzQtMzYxNmFlNTgyZmI3IiwidCI6ImM2ZmM2ZTliLTUxZmItNDhhOC1iNzc5LTllZTU2NGI0MDQxMyIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>

