
@{
    ViewBag.Title = "ManagementPortal";
}

<h2>Management Portal</h2>

<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNjE0ZGRiMjUtODJlZC00OGIwLThmODgtMzU4Nzk5YzhjMTFhIiwidCI6ImM2ZmM2ZTliLTUxZmItNDhhOC1iNzc5LTllZTU2NGI0MDQxMyIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>