
@{
    ViewBag.Title = "Pricing";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    Base price of $200 will be charged per assay.



    <div class="container">
        <h2>Catalog</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Assay</th>
                    <th>Test</th>
                    <th>Price</th>
                    <th>Days</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Biochemical Pharmacology (BP)</strong></td>
                    <td>Test 1</td>
                    <td>$100</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 2</td>
                    <td>$300</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 3</td>
                    <td>$50</td>
                    <td>$100</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>DiscoveryScreen® (DS)</strong></td>
                    <td>Test 1</td>
                    <td>$400</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 2</td>
                    <td>$600</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 3</td>
                    <td>$1050</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 4</td>
                    <td>$700</td>
                    <td>$100</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>ImmunoScreen® (IS)</strong></td>
                    <td>Test 1</td>
                    <td>$60</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 2</td>
                    <td>$200</td>
                    <td>$100</td>

                </tr>
                <tr>
                    <td></td>
                    <td>Test 3</td>
                    <td>$250</td>
                    <td>$100</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>ProfilingScreen® (PF)</strong></td>
                    <td>Test 1</td>
                    <td>$900</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 2</td>
                    <td>$500</td>
                    <td>$100</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>PharmaScreen® (PS)</strong></td>
                    <td>Test 1</td>
                    <td>$600</td>
                    <td>2-5</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>CustomScreen™ (CS)</strong></td>
                    <td>Test 1</td>
                    <td>$550</td>
                    <td>14-21</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Test 2</td>
                    <td>$300</td>
                    <td>16-18</td>

                </tr>
                <tr>
                    <td></td>
                    <td>Test 3</td>
                    <td>$420</td>
                    <td>5-10</td>
                </tr>
            </tbody>
        </table>
    </div>


</body>


</html>