
@{
    ViewBag.Title = "Pricing";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Catalog</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Assay</th>
                    <th>Days</th>
                    <th>Test</th>
                    <th>Price</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Biochemical Pharmacology (BP)</strong></td>
                    <td>13-19</td>
                    <td>Test 1</td>
                    <td>$300</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$450</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3*</td>
                    <td>$100</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>DiscoveryScreen® (DS)</strong></td>
                    <td>12-18</td>
                    <td>Test 1</td>
                    <td>$600</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2*</td>
                    <td>$500</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3*</td>
                    <td>$1000</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 4*</td>
                    <td>$700</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>ImmunoScreen® (IS)</strong></td>
                    <td>8-12</td>
                    <td>Test 1</td>
                    <td>$60</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$200</td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3</td>
                    <td>$250</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>ProfilingScreen® (PF)</strong></td>
                    <td>7-11</td>
                    <td>Test 1</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$500</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>PharmaScreen® (PS)</strong></td>
                    <td>6-8</td>
                    <td>Test 1</td>
                    <td>$600</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><strong>CustomScreen™ (CS)</strong></td>
                    <td>14-21</td>
                    <td>Test 1</td>
                    <td>$1150</td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$300</td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3*</td>
                    <td>$420</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <p>Base price of $200 will be charged per assay.</p>

    <p>Each assay may consist of multiple tests. Cost of each test varies from one another because each test requires different chemicals, equipment, and procedure.</p>
    <p>*These tests are optional, and will only be conducted per request of the client</p>
</body>


</html>