@{
    ViewBag.Title = "Pricing";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Place an Order</h2>
        <br>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Compound Chemical Makeup</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="example: H20">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Client Comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
        <p>*Stared tests are optional, and will only be conducted per request of the client by selecting to be tested if needed.</p>
        <p>
            *When Secondary Test checkbox is checked, Northwest will run necessary post tests when the initial test result is unclear
        </p>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Assay</th>
                    <th>Days</th>
                    <th>Test</th>
                    <th>Price</th>
                    <th>Secondary Test</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Add
                        </label>
                        <strong>Biochemical Pharmacology (BP)</strong>
                    </td>
                    <td>13-19</td>
                    <td>Test 1</td>
                    <td>$300</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$450</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3*</td>
                    <td>$100</td>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                        </label>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Add
                        </label>
                        <strong>DiscoveryScreen® (DS)</strong>
                    </td>
                    <td>12-18</td>
                    <td>Test 1</td>
                    <td>$600</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2*</td>
                    <td>$500</td>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3*</td>
                    <td>$1000</td>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 4*</td>
                    <td>$700</td>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                        </label>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Add
                        </label>
                        <strong>ImmunoScreen® (IS)</strong>
                    </td>
                    <td>8-12</td>
                    <td>Test 1</td>
                    <td>$60</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$200</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3</td>
                    <td>$250</td>
                    <td></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Add
                        </label>
                        <strong>ProfilingScreen® (PF)</strong>
                    </td>
                    <td>7-11</td>
                    <td>Test 1</td>
                    <td>$900</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$500</td>
                    <td></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Add
                        </label>
                        <strong>PharmaScreen® (PS)</strong>
                    </td>
                    <td>6-8</td>
                    <td>Test 1</td>
                    <td>$600</td>
                    <td></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Add
                        </label>
                        <strong>CustomScreen™ (CS)</strong>
                    </td>
                    <td>14-21</td>
                    <td>Test 1</td>
                    <td>$1150</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 2</td>
                    <td>$300</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Test 3*</td>
                    <td>$420</td>
                    <td>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                        </label>
                    </td>

                </tr>
            </tbody>
        </table>
        <a href="ThankYou" type="button" class="btn btn-primary">Submit</a>
        <br>
    </div>
    <br>
    <br>
    <br>
    <p>Base price of $200 will be charged per assay.</p>
    <p>Each assay may consist of multiple tests. Cost of each test varies from one another because each test requires different chemicals, equipment, and procedure.</p>
</body>
</html>