@{
    ViewBag.Title = "ThankYou";
}
<h2>Thank You!</h2>
<p>
    <br>
    We appreciate your recent order.<br>
    We value your trust in our company, and we will do our best to meet your service expectations. Rest assured, we will conduct a quick review of your order and an email will be sent out when we have finished or review.
    We will make sure the order is error free to increase the productivity of our staff in completing your order in a timely fashion.<br>
    Your purchase also includes our highly rated 24/7 service. Should a problem arise feel free to call or email us.<br>
    Thanks again, for your order. If you have any questions, please don’t hesitate to call me. <br>
    Sincerely,
    Northwest Labs
    <a href="mailto:sales@chmbinc.com">sales@northwest.com</a>
</p>